# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: http://aoaojava.com
date_format: "ordinal"
title: Java学习日志
subtitle: "When you want something all the universe conspires in helping you achieve it."
description: "孙健的个人博客"
keywords: Felix, Jian Sun, Felixzz, sunjian
favicon: /lufei.png
timezone: Asia/Shanghai
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: Felix Sun
organization: aoaojava, Inc.
organization_url: https://www.aoaojava.com
location: Beijing, China
email: felix.sunjian@gmail.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 8
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: mzlogin/mzlogin.github.io

# ---------------- #
#      Socials     #
# ---------------- #
github_username:
douban_username:
facebook_username:
weibo_username: sjnet
zhihu_username:
twitter_username:

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, duoshuo
comments_provider: duoshuo
# !!!重要!!! 请修改下面两个用户名为你自己申请的
# !!!Important!!! Please modify usernames below to yours
duoshuo_username: felixzz
disqus_username:
# 在使用 disqus 的时候可点击显示多说评论框
lazy_load_duoshuo: true

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-87452561-1

# ---------------- #
#      Datas       #
# ---------------- #
skill_software_keywords: [Java]
skill_mobile_app_keywords: []
skill_windows_keywords: []
